
/**
 * @name AetherLabs
 * @description Restez à l'aise tout en parlant à vos amis
 * @source https://github.com/ZhaakDesigns/Aether/
 * @author Zhaak
 * @authorId 203438864730161153
 * @invite JrU8g2Jfuh
 * @donate https://ko-fi.com/zhaak
 * @version 1.0.3
 */

 @import url("https://github.com/ZhaakDesigns/Aether/blob/0232bfb214eacb044e739b902c260d500b777aa5/Aether.css");
