
/**
 * @name AetherLabs
 * @description Restez à l'aise tout en parlant à vos amis
 * @source https://github.com/ZhaakDesigns/Aether/
 * @author Zhaak
 * @authorId 203438864730161153
 * @invite JrU8g2Jfuh
 * @donate https://ko-fi.com/zhaak
 * @version 1.0.3
 */

 @import "https://ZhaakDesigns.github.io/Aether/Aether.css";
 @import url('https://ZhaakDesigns.github.io/Aether/Aether.css');

